{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                    <h1>About Us</h1>
                    <span class="subheading">This is what we wish we could do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Reading us, you'll soon realise that our copywriters are some of the shittiest in the world due to
                their knack for selecting the topics of the posts as well as their gloriously brown content. </p>
            <p>Why are we so lame? Because we don't give a shit about the style and content of what we write
                about.</p>
            <p>Most recently, we received a gold statuette in the form of a fecal matter at the prestigious
                annual Observer of the Year festival. This allowed us to extend the reach of our staff to an
                illogical line-up that we still can't understand how this ever happened.</p>
            <p>From the first moment you read these obscure blog posts, you can't be sure you'll ever see
                any more gloriously shetty content on this site, as our editor-in-chief will most likely not
                find a job in programming and will return to his post as a junior accountant for the rest of
                his days. </p>
        </div>
    </div>
</div>

{% include "footer.html" %}